
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  display: flex;
  flex-direction: column;
}

button {
  padding-inline: .8em;
  padding-block: .4em;

  background-color: white;
  border: 1px solid #555;
  border-radius: .8em;
  font-size: clamp(1rem, 1vw, 2.5rem);;
}

header {
  padding: 0.5em;
  background-color: #DEDEDE;
  box-shadow: 0 3px 10px #BABABA;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #232323;
  font-size: clamp(0.8rem, 6vw, 2.5rem);;
}

main {
  background-color: #EFEFEF;
  flex: 1;

  display: grid;
  grid-template-columns: 5fr 1fr;
}

.option-wrapper {
  display: flex;
  gap: 1em;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: start;

  padding: 1em;

  border-left: 2px solid #555;
}

.new-book {
  border-radius: 16px;
  border: 2px solid #555;

  padding-inline: 16px;
  text-align: center;
}

.new-book::backdrop {
  background-color: rgba(0, 0, 0, .35);
}

.new-book form {
  display: flex;
  flex-direction: column;
  gap: 1em;

  text-align: start;
}


input[type=text], input[type=number] {
  width: 90%;
  padding-block: .5em;
  padding-left: 1em;
  border: 1px solid #ACACAC;
  border-radius: 10px;
  margin-top: 8px;
}

.read-check, .form-submits {
  align-self: center;
}

.book-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1em;
  align-content: flex-start;

  padding: 1em
}

.book-card {
  background-color: #CCC;
  box-shadow: 3px 3px 3px #BABABA;
  border: 1px solid #444;
  border-radius: 1em;
  height: clamp(100px, 15vh, 300px);

  padding: 1em;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-title {
  font-size: clamp(1rem, 1vw, 2.5rem);
  font-weight: bold;
}

.book-author {
  font-size: clamp(.8rem, .8vw, 1.5rem);
  font-weight: lighter;
  font-style: italic;
  flex: 1;
}

.book-pages {
  font-size: clamp(.8rem, .8vw, 1.5rem);
  font-style: italic;
}

.book-read {
  border-color: green;
  box-shadow: 3px 3px 3px #12de12;
}
